<section>
    <div class="container">
        <div class="col"></div>
        <div class="col"><div class="card text-center">
            <div class="card-title text-start"><h1>Página Principal</h1></div>
            <div class="card-header">
              Bem-vindo a Kyoma Wiki!
            </div>
            <div class="card-body">
              <h5 class="card-title text-start">"Do jeito que as coisas estão, não podemos contar com a sorte"</h5>
              <h6>Essa é a Wiki oficial com todas as informações coletadas do RPG Kyoma - Onde as Coisas Estranhas Acontecem</h6>
              <p class="card-text">Kyoma é um RPG de mesa mestrado no sistema de Ordem Paranormal onde as sessões ocorrem no servidor Megalodon Umbra, mestrado por Lupas</p>
              <p>Todas as informações reunidas nessa Wiki foram retiradas das sessões e dos próprios jogadores.

                Isso é um projeto feito e desenvolvido de jogador para jogador, e está sujeito a mudança e atualizações constantes.

                O site foi desenvolvido pelo Aliporis e você consegue achar o repositório no github desse projeto aqui</p>
              
            </div>
            <div class="card-title card-footer text-body-secondary">
              Artigos Sugeridos
              
            </div>
            <div class="card-body">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Personagens</button>
                      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Players</button>
                      <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false" >Casos</button>
                      <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Lugares</button>
                      <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Fillers</button>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="1">
                        <div class="card-group">
                            <div class="card text-bg-dark">
                                <img src="https://pbs.twimg.com/profile_images/1586216400019922944/36OrXYNG_400x400.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small>Last updated 3 mins ago</small></p>
                                </div>
                          </div>
                            <div class="card text-bg-dark">
                                <img src="https://pbs.twimg.com/profile_images/1586216400019922944/36OrXYNG_400x400.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small>Last updated 3 mins ago</small></p>
                                </div>
                          </div>
                            <div class="card text-bg-dark">
                                <img src="https://pbs.twimg.com/profile_images/1586216400019922944/36OrXYNG_400x400.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small>Last updated 3 mins ago</small></p>
                                </div>
                          </div>
                      </div>
                    </div>
                      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="2">2</div>
                      <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="3">3</div>
                      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="4">4</div>
                      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="5">5</div>
                    </div>
                  </div>
            </div>

          </div></div>
        <div class="col"></div>

    </div>
    
</section>

